{{ define "body"}}
<div class="text-center p-2">
  <h2>Here is the list of people attending the party</h2>
  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {{ range index a := . }} {{ if a.WillAttend }}
      <tr>
        <td>{{ index }}</td>
        <td>{{ a.Name }}</td>
        <td>{{ a.Email }}</td>
        <td>{{ a.Phone }}</td>
      </tr>
      {{ end }} {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
